@charset "UTF-8";
body {
	width: 1100px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 15px;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 5px 10px;
}
fieldset {
	display: inline;
}
.find {
	display: flex;
}