@charset "UTF-8";
a {
	color: inherit;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 5px 10px;
}