<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ex03</title>

<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header th:replace="~{piece :: header}"></header>

	<h4>ex03 - 조건문</h4>
	
	<p th:if="${age >= 20}" th:text="성인"></p>
	<p th:if="${age < 20}" th:text="미성년자"></p>
	
	<!-- if는 조건이 true면 수행. false면 아예 실행하지 않음 -->
	<div th:if="${age < 20}">
		<span th:text="${age}"></span>
		<span>세는 성인 입니다</span>
	</div>
	
	<p>※ th:unless는 조건이 거짓일때 수행하는 구문</p>

	<footer th:replace="~{piece :: footer}"></footer>
</body>
</html>